.distill-site-header .logo img{
  max-height: 30px; /* makes logo bigger, default was 20px */
}

.distill-site-header .logo {
  font-size: 20px;
}

.distill-site-header .title {
  font-size: 20px;
  font-weight: 400;
}

.distill-site-header {
//  color: #000;
//  background-color: #4292c6;
//  background-color: #023858;
  font-size: 20px;
  font-weight: 400;
  padding-top: 3px;
//  padding-bottom: 5px;
}

d-appendix {
  background-color: #f7fbff;
  border-top: none !important;
}

//.distill-site-nav a:hover {
//  color: #;
//}






